<div class="card-wrapper">
  <div class="card">
    <div class="card-head">
      <p class="card-year"></p>
      <div class="card-type-wrapper">
        <p class="card-type"></p>
      </div>
    </div>
    <div class="card-images">
      <img src="#" alt="#" class="card-img" />
    </div>
    <div class="card-name"></div>
    <div class="card-address"></div>
    <div class="card-tags">
      Види робіт:
      <p class="tag"></p>
    </div>
  </div>

  <div class="card-decoration-bottom">
    <img src="../img/Down.svg" alt="" class="decoration-bottom" />
  </div>
</div>
