<footer class="footer-content container">
  <div class="footer-contacts">
    <div class="contacts__title">
      <div class="contacts__title-decoration">
        <img src="img/union-decoration.svg" alt="Contacts Icon" />
        <div></div>
        <p>Smarto</p>
      </div>
      <h2 class="contacts__title-name">Контакти</h2>
    </div>
    <div class="contacts__content-office">
      <h3 class="contacts__name">Головний офіс:</h3>
      <p class="contacts__text">SmartorangeTest@gmail.com</p>
    </div>
    <div class="contacts__content-btn-map">
      <a
        href="https://maps.google.com/?q=Smart+Orange"
        target="_blank"
        rel="noopener noreferrer"
        class="btn--black"
        >Відкрити на Google maps
      </a>
    </div>
    <div class="contacts__content-tels">
      <h3 class="contacts__name">Телефони відділів:</h3>
      <div>
        <p class="contacts__text tel-number">
          (044) 444-44-44<span>( Юридичний відділ )</span>
        </p>
        <p class="contacts__text tel-number">
          (055) 555-55-55<span>( Бухгалтерія )</span>
        </p>
      </div>
    </div>
    <div class="contacts__content-medias">
      <h3 class="contacts__name">Наші соцмережі:</h3>
      <div class="contacts__content-medias-icons">
        <a
          href="img/instagram.svg"
          target="_blank"
          title="Instagram"
          rel="noopener noreferrer"
          class="btn--black"
        >
          <img src="img/Icon_instagram.svg" alt="Instagram" />
        </a>
        <a
          href="https://www.youtube.com/"
          target="_blank"
          title="Youtube"
          rel="noopener noreferrer"
          class="btn--black"
        >
          <img src="img/Icon_youtube.svg" alt="Youtube" />
        </a>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          title="Facebook"
          rel="noopener noreferrer"
          class="btn--black"
        >
          <img src="img/Icon_facebook.svg" alt="Facebook" />
        </a>
        <a
          href="https://www.tiktok.com/uk-UA/"
          target="_blank"
          title="TikTok"
          rel="noopener noreferrer"
          class="btn--black"
        >
          <img src="img/Icon_tiktok.svg" alt="TikTok" />
        </a>
      </div>
    </div>
    <div class="contacts__content-email">
      <h3 class="contacts__name">Email:</h3>
      <p class="contacts__text">office@smarto.ua</p>
    </div>
  </div>
  <div class="footer-img">
    <img
      class="footer-img__picture"
      src="img/footer-group-pictures.png"
      alt=""
    />
  </div>
</footer>
