<header class="header-content">
  <div class="hero__logo">
    <img src="img/logo.svg" alt="Smart Orange Logo" />
  </div>
  <div class="hero-wrapper">
    <img
      src="../img/Arrow-left.svg"
      alt="hero-slider_arrow-left"
      class="hero-slider_arrow-left"
    />
    <img
      src="img/hero-slider_bg_1.png"
      alt="Hero image"
      class="hero__img active"
    />
    <img
      src="../img/Arrow-right.svg"
      alt="hero-slider_arrow-right"
      class="hero-slider_arrow-right"
    />
  </div>
</header>
