<main class="main-content container">
  <h2 class="main-content__title">Збудовані об'єкти</h2>
  <ul class="main-content__nav-filter">
    <li class="filter-item">Усі</li>
    <li class="filter-item">Бізнес</li>
    <li class="filter-item">Comfort</li>
    <li class="filter-item">Premium</li>
  </ul>
  <div class="cards" id="cards-container">
    <!-- @@include('card.html') @@include('card.html') @@include('card.html') -->
  </div>
  <div class="load-more-btn-wrapper">
    <button class="load-more" id="load-more-btn">
      Завантажити ще
      <img
        src="../img/Arrow filtering down.svg"
        alt="load-more_arrow-down"
        class="load-more-icon"
      />
    </button>
  </div>
</main>
