.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 200px;

  @media screen and (max-width: 1740px) {
    justify-content: center;
  }

  .contacts__name {
    font-size: 24px;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.48px;
    margin-bottom: 23px;
  }

  .contacts__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%; /* 24px */
    letter-spacing: -0.4px;
  }
}

.footer-contacts {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4 * 1fr;
  gap: 20px;
  justify-items: start;
  @media screen and (max-width: 1740px) {
    width: 35%;
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 1360px) {
    width: 100%;
    display: grid;
    margin-bottom: 60px;
  }

  .contacts__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: 100%;

    .contacts__title-decoration {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      padding-right: 90px;
      div {
        height: 1px;
        flex: 1 0 0;
        background-color: #0a0f13;
      }
      p {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        line-height: 140%; /* 19.6px */
        letter-spacing: -0.28px;
      }
    }

    .contacts__title-name {
      font-size: 96px;
      font-weight: 400;
      line-height: 90%; /* 86.4px */
      letter-spacing: -3.84px;
      margin-top: 25px;
      margin-bottom: 83px;

      @media screen and (max-width: 1740px) {
        margin-bottom: 40px;
      }
    }
  }
  .contacts__content-office {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .contacts__content-btn-map {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin-bottom: 84px;

    @media screen and (max-width: 1740px) {
      margin-bottom: 40px;
    }
  }
  .contacts__content-tels {
    grid-column: 1 / 2;
    grid-row: 4 / 5;

    .tel-number {
      margin-left: 36px;
      margin-bottom: 15px;

      span {
        font-size: 14px;
        font-weight: 500;
        color: #737373;
        line-height: 140%; /* 19.6px */
        letter-spacing: -0.28px;
        text-transform: uppercase;
        margin-left: 12px;
      }
    }
  }
  .contacts__content-medias {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    .contacts__content-medias-icons {
      display: flex;
      justify-content: start;
      gap: 4px;
    }
  }
  .contacts__content-email {
    grid-column: 2 / 2;
    grid-row: 4 / 5;
  }
}

.footer-img {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .footer-img__picture {
    width: 830px;
    height: 680px;
  }

  .footer-img__text-decoration--black,
  .footer-img__text-decoration--multicolor {
    font-size: 96px;
    font-weight: 400;
    line-height: 90%; /* 86.4px */
    letter-spacing: -3.84px;
    position: absolute;
    color: #eff3f5;
    mix-blend-mode: exclusion;
  }
  .footer-img__text-decoration--black {
    top: 50px;
    left: 0;
  }
  .footer-img__text-decoration--multicolor {
    bottom: 50px;
    right: 150px;
  }
}
