.header-content {
  width: 100%;
  max-width: 1920px;
  height: 468px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 0 auto 100px;

  .hero__logo {
    position: absolute;
    top: 24px;
    z-index: 2;
  }

  .hero-wrapper {
    position: relative;
    width: 100%;
    height: 468px;

    .hero__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    .hero-slider_arrow-left,
    .hero-slider_arrow-right {
      position: absolute;
      z-index: 10;
      top: 50%;
    }
    .hero-slider_arrow-left {
      left: 60px;
    }
    .hero-slider_arrow-right {
      right: 60px;
    }
  }

  .hero__decoration {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 60px 25px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    div {
      height: 1px;
      flex: 1 0 0;
      background-color: #0a0f13;
    }
  }
}
